nav a {
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 35px;
}

nav{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}

.logo{
    width: 80px;
}

footer {
    background-color: #E7C24F;
    color: rgb(23, 31, 37);
    text-decoration: none;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main section {
    text-align: center;
    width: 100%;
}

header {
    background-color: #E7C24F;
    color: rgb(229, 235, 240);
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
    
}

body {
    background-color: #396E94;
    color: #eeecf4;
    font-family:'Times New Roman', Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    
}

.business_img{
    margin-top: 10%;
    margin-bottom: 5%;
}

.box {
    
    border: 2px solid white;
    color: white;
}

.box1{
    
    border: 2px solid white;
    color: white;
}

.box2 {
   
    border: 2px solid white;
    color: white;
}

.box3{
    
    border: 2px solid white;
    color: white;
}

* {
    box-sizing: border-box;
  }
  
  /* Create three columns of equal width */
  .columns {
    float: left;
    width: 33.3%;
    padding: 8px;
  }

 
  
  /* Pricing header */
  .price .headers {
    background-color: #111;
    color: rgb(255, 255, 255);
    font-size: 25px;
  }
  
  /* List items */
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
  /* Grey list item */
  .price .grey {
    background-color: #292042;
    font-size: 20px;
  }
  
  /* The "Sign Up" button */
  .button {
    background-color: #04AA6D;
    border: none;
    color: rgb(255, 254, 254);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }

  .business_img1{
    display: inline-block;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 20%;
  }

  .business_img2{
    margin-top: 5px;
    margin-bottom: 120px;
  }